*{
    margin: 0;
    padding: 0;
}

caption{
    align-content: center;
    padding: 20px;
    font-size: 20px;
}

table{
    width: 1158px;

    padding: 10px;
    border-collapse: collapse;
}

tr:hover .secured{
    background: url("../img/prkp.png") round;
}
thead{
    font-size: 15px;
}

input{
    width: 15px;
    height: 15px;
    background: aqua;
}

#tablHead{
    background: rgba(245,246,247,1) ;
    border-radius: 110px;
}
table tr td:last-child {border-radius: 0 5px 5px 0}
table tr td:first-child {border-radius: 5px 0 0 5px}
tr:hover {
    background: rgba(245,246,247,1) ;
}
.content{
   color: #262626;
    font-family: 'Nato Sans', sans-serif;
    width: 1158px;
    height: 600px;
    margin: auto;
}
.nameLine{

    font-size: 11px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #0c6cb0;
}
.head_text{
    font-size: 9px;
    color: black;
}
.statusHead{
    font-size: 9px;
    display: flex;
    padding-left: 80px;
}
.statusLine{
    font-size: 12px;
    display: flex;
    padding-left: 80px;
}
.autHead{
    font-size: 9px;
    display: flex;
    padding-left: 12px;
}
.autLine{
    font-size: 11px;
    display: flex;
    padding-left: 14px;
}
.loginHead{
    font-size: 9px;
    display: flex;
}
.loginLine{
    font-size: 11px;
    display: flex;
}
.container_img{
    margin: auto;
    /* margin-left: -21px; */
    margin-right: 7px;
    /* padding-left: 16px; */
    display: flex;
    /* float: right; */
    width: 23px;
    height: 23px;
    background: rgb(36,151,228);
    /* margin: auto; */
    border-radius: 4px;
    box-shadow: 0 1px 0 rgb(214,209,206);
    border: 1px groove rgb(38,155,232);
}
.container_img-item{

    width: 10px;
    height: 10px;
    margin: auto;
    background: round;
    background-image: url("../img/new1.svg");
}
.container_img-item:hover{
    cursor: pointer;
}
.container_img-item2 {
    width: 24px;
    background: round;
    height: 22px;
    background-image: url("../img/kk.png");


}
.secured{
   margin-left: 10px;
    width: 15px;
    height: 15px;

}
.checkbox-item {
    margin-left: 6px;
    height: 25px;
    /* margin-left: 10px; */
    padding-left: 6px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-item .checker {
    content: '\2713';
    background: #ffffff;
    border: 1px solid rgb(214,219,224);
    box-shadow: 0 0 2px rgb(214,219,224);
    border-radius: 4px;
    position: absolute;
    left: 0;
   width: 13px;
    height: 13px;
    display: block;
    /*font-family: FontAwesome;*/
}
.checkbox-item input[type="checkbox"]:checked~.checker {
     content: url("data:image/gif;base64,R0lGODlhCgAKAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAKAAoAAAISlG8AeMq5nnsiSlsjzmpzmj0FADs=");
    background: #2a9afa;
    /*font-family: FontAwesome;*/
    position: absolute;
}
.filtr{
    margin-left: 6px;
    display: inline-block;
    width:10px;
    height: 10px;
    background: round;
    background-image: url("../img/fltr3.png");
}
.gl_str{

    margin-left: 3px;
    width: 11px;
    height: 10px;

}
.gl_str:hover{
 cursor: pointer;
    margin-left: 3px;
    width: 11px;
    height: 10px;
    background: round;
    background-image: url("../img/str.png");
}
.gl_strDisplay{
    margin-left: 3px;
    width: 11px;
    height: 10px;
    background: round;
    background-image: url("../img/str.png");
}
.gl_strDisplayVr{
     background: round;
     background-image: url("../img/strVr.png");
 }
.gl_strDisplayVr:hover{
    background: round;
    background-image: url("../img/strVr.png");
}
.fon{
    width: 1200px;
    margin: auto;
    height: 500px;
    background: url(../img/fon.png) round;
}
.decor_checkbox span input[type="checkbox"] {
    background: #ffffff;
    display: none;
    content: '\2713';
}
.decor_checkbox{
    margin-right: -7px;
    margin-left: 6px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.decor_checkbox span  {
    content: '\2713\0020';
    background: #ffffff;
    border: 1px solid rgb(214,219,224);
    box-shadow: 0 0 2px rgb(214,219,224);
    border-radius: 4px;

    width: 13px;
    height: 13px;
    display: block;
}
.check_active span{
    background-image: url("../img/boxl.png");
}

.cont{
    width: 1200px;
    justify-content: center;
    height: 400px;
    align-items: center;
    display: flex;
    margin: auto;
    flex-flow: wrap;
    background: rgba(218,218,218,1);
}
.elem{
    background: rgba(149,229,0,1);
    width: 300px;
    height: 50px;
    margin: 10px;
}
.cont_Button{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.button{
    border-radius: 5px;
    background: rgba(245,246,247,1);
    width: 100px;
    height: 30px;
    margin: 2px ;
}
.inpt{
    color: #262626;
    font-family: 'Nato Sans', sans-serif;
    background: white;
    font-size: 12px;
}
.inpt1{
    font-size: 11px;
    height: 15px;
    color: #0c6cb0;
    width: 100px;
}
.inpt4{
    height: 15px;

    width: 100px;
}
.inpt3{

    height: 15px;
    width: 35px;
}
.inpt2{

    height: 15px;
    width: 50px;
}
.scr{
    background: white;
  border: none;
}

tr:hover .scr{
    background: rgba(245,246,247,1)
}
.sr{
    display: none;
}
.fontWe{
    font-weight: bold;
}

.dis{
    display: none;
}