*{
    margin: 0px;
    padding: 0px;

}

caption{
    align-content: center;
    padding: 20px;
    font-size: 20px;
}

table{

    padding: 10px;
    border-collapse: collapse;
}

tr:hover .secured{
    background: url("../img/prkp.png") round;
}

input{
    width: 16px;
    height: 16px;
    background: aqua;
}
td{
    padding: 10px;
}
#tableHead{
    background: rgba(71,119,111,0.3) ;

}
tr:hover {
    background: darkgrey;
}

.content{
    width: 1200px;
    height: 600px;
    margin: auto;
}
thead{
    background: rgba(71,119,111,0.3);
}
.nameLine{
    padding-left: 10px ;
    width: 200px;
    display: flex;
}


.statusLine{
    padding-left: 100px;
}
.autLine{
    padding-left: 50px;
}
.loginLine{
    padding-left: 50px;
    padding-right: 50px;
}
.container_img-item{

    width: 20px;
    height: 20px;
    background: url("../img/img_pl.png") round;
}
.secured{
   margin-left: 10px;
    width: 16px;
    height: 16px;

}
.checkbox-item {
    display: block;
    width: 15px;
    height: 15px;
    padding-left: 20px;
    position: relative;

    cursor: pointer;
}

.checkbox-item .checker {
    content: '\2713';
    background: #2a9afa;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
   width: 15px;
    height: 15px;
    display: block;
    font-family: FontAwesome;
}

.checkbox-item input[type="checkbox"]:checked~.checker {
    content: url("data:image/gif;base64,R0lGODlhCgAKAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAKAAoAAAISlG8AeMq5nnsiSlsjzmpzmj0FADs=");
    background: #2a9afa;
    font-family: FontAwesome;
    position: absolute;
}